#tittle{
    color: black; 
    background-color: aquamarine;
    text-align: center;
    background-size: auto;



}
body {
    background-color: beige; 
}

#images{
    border-radius: red; 
    align-items: center;
    padding: 100px; 

}

